Project for module Programming in Data Analytics due date 13th December 2019

Created by Catherine A Celeste Quinlan

To create a simulated data set based on a real life phenomenon using NUMPY.RANDOM , set it in a dataframe, and use this to show the different relationships.

I chose to look at the relationship between Higher Level Junior Certificate and Leaving Certificateand variables

In [26]:
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb
import pandas as pd

# I import the functions I think I will be using later

In [17]:
jcert = np.random.choice(['A', 'B','C', 'D'], size=300) #  Here Im assuming that we have an equal chance of a student getting any of the grades

In [18]:
jcert

array(['B', 'B', 'B', 'C', 'B', 'C', 'B', 'A', 'A', 'C', 'D', 'C', 'D',
       'B', 'C', 'A', 'C', 'A', 'B', 'A', 'C', 'D', 'A', 'C', 'D', 'D',
       'D', 'D', 'C', 'C', 'B', 'C', 'D', 'C', 'D', 'B', 'D', 'B', 'C',
       'A', 'C', 'A', 'C', 'B', 'C', 'A', 'B', 'C', 'A', 'C', 'B', 'D',
       'B', 'A', 'C', 'A', 'B', 'C', 'A', 'A', 'C', 'C', 'A', 'A', 'B',
       'D', 'D', 'D', 'A', 'D', 'D', 'C', 'D', 'A', 'C', 'A', 'B', 'A',
       'A', 'D', 'C', 'B', 'A', 'D', 'A', 'B', 'D', 'B', 'A', 'B', 'A',
       'B', 'A', 'A', 'D', 'B', 'A', 'A', 'A', 'C', 'B', 'A', 'A', 'A',
       'C', 'B', 'A', 'D', 'D', 'C', 'D', 'A', 'C', 'A', 'D', 'C', 'B',
       'B', 'C', 'A', 'D', 'B', 'D', 'D', 'A', 'A', 'D', 'B', 'A', 'D',
       'B', 'C', 'C', 'D', 'D', 'B', 'C', 'C', 'C', 'A', 'B', 'B', 'B',
       'C', 'D', 'A', 'C', 'A', 'C', 'D', 'A', 'B', 'B', 'A', 'C', 'C',
       'A', 'D', 'D', 'B', 'D', 'B', 'C', 'B', 'A', 'C', 'C', 'D', 'B',
       'A', 'C', 'D', 'A', 'A', 'C', 'B', 'D', 'D', 'C', 'B', 'D', 'C',
       'A', 'D', 'B', 'D', 'A', 'C', 'B', 'A', 'C', 'A', 'D', 'D', 'B',
       'B', 'C', 'C', 'B', 'C', 'B', 'D', 'B', 'D', 'A', 'B', 'B', 'A',
       'D', 'B', 'D', 'C', 'B', 'A', 'C', 'D', 'D', 'D', 'C', 'D', 'A',
       'B', 'B', 'A', 'C', 'B', 'A', 'A', 'C', 'D', 'A', 'B', 'B', 'C',
       'D', 'D', 'A', 'D', 'B', 'C', 'D', 'B', 'A', 'B', 'C', 'B', 'D',
       'A', 'A', 'A', 'C', 'C', 'C', 'A', 'B', 'D', 'C', 'A', 'A', 'A',
       'A', 'C', 'C', 'B', 'A', 'B', 'B', 'A', 'A', 'B', 'C', 'C', 'B',
       'B', 'B', 'B', 'D', 'C', 'C', 'B', 'B', 'A', 'A', 'B', 'A', 'A',
       'C', 'B', 'C', 'D', 'D', 'C', 'B', 'B', 'C', 'B', 'C', 'C', 'B',
       'A'], dtype='<U1')

In [12]:
Ages = np.random.normal(18, 1, 300).round(0)
 # The majority of these students at Leaving certificate are 18.We again pick a normal distribution with a mean of 18 and a standard deviation of 1.

In [13]:
Ages

array([18., 18., 18., 18., 19., 18., 19., 17., 17., 18., 18., 18., 17.,
       19., 18., 16., 18., 16., 17., 18., 18., 18., 18., 20., 18., 18.,
       19., 18., 19., 19., 19., 17., 17., 17., 18., 20., 19., 18., 18.,
       19., 19., 17., 18., 19., 20., 18., 18., 17., 18., 20., 20., 18.,
       18., 18., 19., 16., 19., 18., 18., 19., 17., 17., 18., 18., 18.,
       19., 21., 19., 19., 18., 19., 19., 20., 17., 20., 16., 19., 17.,
       18., 18., 18., 18., 18., 19., 18., 19., 17., 18., 19., 18., 18.,
       19., 20., 18., 19., 19., 19., 19., 17., 19., 20., 17., 19., 19.,
       17., 18., 18., 18., 17., 20., 18., 18., 18., 18., 17., 18., 19.,
       17., 19., 19., 18., 19., 17., 18., 18., 17., 19., 18., 18., 17.,
       17., 18., 17., 18., 18., 16., 18., 18., 18., 19., 19., 16., 17.,
       18., 19., 19., 16., 19., 18., 17., 19., 20., 19., 16., 18., 18.,
       18., 17., 19., 16., 17., 18., 18., 17., 17., 18., 17., 18., 18.,
       18., 19., 16., 17., 17., 17., 16., 15., 18., 19., 18., 17., 18.,
       18., 18., 17., 19., 19., 17., 18., 18., 18., 18., 17., 18., 19.,
       19., 17., 18., 17., 18., 18., 18., 18., 19., 18., 19., 17., 18.,
       17., 18., 17., 19., 18., 19., 17., 18., 18., 19., 19., 18., 19.,
       19., 18., 17., 18., 16., 18., 19., 19., 18., 18., 17., 18., 19.,
       18., 18., 18., 19., 19., 16., 18., 19., 19., 17., 19., 18., 18.,
       16., 17., 19., 19., 18., 17., 17., 16., 17., 17., 17., 17., 20.,
       16., 18., 17., 17., 18., 19., 17., 17., 19., 16., 17., 18., 18.,
       18., 17., 18., 19., 19., 16., 17., 18., 18., 18., 17., 20., 18.,
       18., 17., 18., 21., 18., 18., 18., 18., 18., 22., 18., 19., 19.,
       19.])

In [14]:
# Creating an array of male and female for the 300
gender = np.random.choice(['male', 'female'], size=300)

In [15]:
gender

array(['female', 'male', 'male', 'female', 'male', 'female', 'female',
       'female', 'male', 'male', 'male', 'female', 'female', 'female',
       'female', 'male', 'female', 'female', 'female', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'male', 'female',
       'male', 'male', 'female', 'female', 'male', 'female', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male',
       'male', 'male', 'female', 'female', 'female', 'female', 'female',
       'female', 'male', 'male', 'male', 'female', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'male', 'female',
       'male', 'male', 'female', 'female', 'female', 'female', 'female',
       'male', 'male', 'female', 'female', 'male', 'female', 'female',
       'female', 'male', 'female', 'female', 'male', 'male', 'male',
       'male', 'male', 'female', 'female', 'male', 'male', 'female',
       'female', 'female', 'female', 'female', 'male', 'male', 'female',
       'male', 'female', 'female', 'male', 'male', 'female', 'female',
       'male', 'male', 'female', 'female', 'female', 'female', 'female',
       'male', 'male', 'female', 'female', 'male', 'female', 'female',
       'male', 'female', 'female', 'male', 'male', 'male', 'female',
       'female', 'female', 'female', 'male', 'male', 'male', 'male',
       'female', 'female', 'male', 'male', 'male', 'male', 'female',
       'male', 'female', 'male', 'female', 'female', 'female', 'female',
       'male', 'female', 'male', 'female', 'male', 'male', 'female',
       'male', 'female', 'male', 'male', 'female', 'female', 'male',
       'male', 'male', 'female', 'male', 'male', 'female', 'female',
       'male', 'female', 'female', 'female', 'male', 'female', 'female',
       'male', 'female', 'female', 'female', 'female', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'male', 'female', 'female', 'male', 'female',
       'female', 'female', 'female', 'female', 'female', 'female', 'male',
       'male', 'male', 'female', 'female', 'female', 'male', 'male',
       'female', 'male', 'male', 'female', 'male', 'female', 'male',
       'male', 'female', 'male', 'female', 'male', 'male', 'male', 'male',
       'male', 'female', 'female', 'male', 'female', 'female', 'male',
       'male', 'male', 'male', 'female', 'male', 'female', 'female',
       'female', 'male', 'male', 'female', 'female', 'male', 'female',
       'female', 'male', 'female', 'male', 'male', 'male', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'male', 'male',
       'female', 'male', 'female', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'female', 'female', 'male', 'male', 'male',
       'female', 'female', 'female', 'male', 'female', 'female', 'male',
       'male'], dtype='<U6')

 Leaving certificate results are linked to Junior Certificate results . Each level at leaving Certificate  having a different possibiilty and different per gender.

In [ ]:
#

In [ ]:
#

In [24]:
# Creating the dataframe with the simulated data 
from pandas import DataFrame
df = pd.DataFrame({'Age 2019': Ages,'Gender': gender,'Junior Cert H Level Maths results': jcert} )
df.head()

   Age 2019  Gender Junior Cert H Level Maths results
0      18.0  female                                 B
1      18.0    male                                 B
2      18.0    male                                 B
3      18.0  female                                 C
4      19.0    male                                 B