Project for module Programming in Data Analytics due date 13th December 2019

Created by Catherine A Celeste Quinlan

To create a simulated data set based on a real life phenomenon using NUMPY.RANDOM , set it in a dataframe, and use this to show the different relationships.

I chose to look at the relationship between Higher Level Junior Certificate and Leaving Certificate and variables that may influence a student's performance in Higher Level Maths.

In [1]:
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb
import pandas as pd


# I import the functions I think I will be using later

In [2]:
jcert = np.random.choice(['A', 'B','C', 'D'], size=300) #  Here Im assuming that we have an equal chance of a student getting any of the grades

In [3]:
jcert

array(['D', 'C', 'B', 'A', 'D', 'B', 'C', 'B', 'C', 'D', 'B', 'A', 'B',
       'C', 'A', 'C', 'A', 'C', 'D', 'D', 'C', 'D', 'D', 'C', 'D', 'C',
       'B', 'A', 'A', 'C', 'B', 'A', 'D', 'D', 'C', 'B', 'A', 'A', 'A',
       'A', 'A', 'B', 'D', 'C', 'A', 'A', 'A', 'D', 'C', 'C', 'B', 'A',
       'D', 'A', 'B', 'B', 'B', 'A', 'C', 'B', 'B', 'A', 'D', 'A', 'A',
       'A', 'A', 'C', 'B', 'B', 'B', 'A', 'D', 'D', 'B', 'A', 'C', 'D',
       'B', 'C', 'D', 'C', 'A', 'C', 'C', 'D', 'D', 'A', 'C', 'C', 'D',
       'A', 'B', 'D', 'C', 'A', 'A', 'D', 'D', 'D', 'D', 'B', 'D', 'C',
       'C', 'A', 'C', 'C', 'D', 'D', 'A', 'A', 'D', 'B', 'D', 'B', 'D',
       'A', 'D', 'A', 'D', 'D', 'D', 'D', 'B', 'D', 'D', 'A', 'B', 'A',
       'B', 'C', 'C', 'A', 'B', 'D', 'B', 'C', 'A', 'A', 'B', 'D', 'C',
       'A', 'D', 'B', 'C', 'B', 'A', 'B', 'C', 'B', 'D', 'A', 'D', 'D',
       'C', 'C', 'A', 'D', 'B', 'A', 'D', 'B', 'B', 'C', 'B', 'D', 'B',
       'C', 'A', 'A', 'D', 'A', 'B', 'D', 'B', 'A', 'B', 'C', 'A', 'B',
       'B', 'B', 'D', 'B', 'D', 'A', 'B', 'D', 'B', 'B', 'C', 'C', 'D',
       'A', 'A', 'B', 'C', 'C', 'B', 'A', 'D', 'B', 'B', 'D', 'D', 'B',
       'D', 'D', 'C', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'C',
       'D', 'B', 'B', 'C', 'B', 'C', 'B', 'C', 'A', 'C', 'B', 'A', 'D',
       'A', 'C', 'D', 'C', 'A', 'A', 'B', 'C', 'D', 'D', 'D', 'B', 'A',
       'A', 'D', 'D', 'A', 'C', 'A', 'C', 'C', 'C', 'D', 'D', 'A', 'D',
       'A', 'A', 'B', 'D', 'B', 'C', 'C', 'C', 'C', 'C', 'A', 'A', 'A',
       'C', 'B', 'A', 'B', 'B', 'D', 'C', 'D', 'D', 'A', 'C', 'A', 'C',
       'B', 'C', 'A', 'A', 'A', 'D', 'D', 'C', 'D', 'B', 'B', 'B', 'A',
       'B'], dtype='<U1')

In [6]:
Ages = np.random.normal(18, 1, 300).round(0)
 # The majority of these students at Leaving certificate are 18.We again pick a normal distribution with a mean of 18 and a standard deviation of 1. I chose a normal distribution here as the majority of students doing the leaving has a mean of 18.I am making the assumption of a stardard deviation of 1, as some students are either 1 year above or below.

In [7]:
Ages

array([19., 19., 18., 18., 17., 17., 17., 20., 17., 17., 18., 19., 21.,
       16., 18., 17., 19., 18., 17., 17., 19., 19., 19., 18., 18., 20.,
       19., 17., 19., 17., 17., 17., 17., 19., 18., 19., 17., 19., 17.,
       17., 19., 17., 17., 19., 17., 18., 20., 16., 19., 18., 19., 16.,
       17., 18., 19., 17., 18., 18., 17., 19., 18., 17., 18., 18., 18.,
       19., 19., 18., 18., 18., 20., 16., 18., 18., 19., 17., 18., 18.,
       18., 18., 19., 19., 17., 18., 19., 17., 18., 17., 19., 18., 18.,
       18., 18., 18., 18., 18., 18., 18., 18., 19., 19., 17., 20., 16.,
       17., 16., 15., 20., 17., 20., 18., 19., 18., 18., 16., 16., 17.,
       19., 19., 19., 19., 16., 20., 17., 17., 18., 19., 18., 19., 18.,
       17., 18., 18., 16., 20., 21., 18., 17., 17., 16., 19., 19., 21.,
       18., 18., 19., 17., 15., 19., 18., 18., 18., 19., 19., 17., 18.,
       20., 19., 16., 18., 18., 17., 18., 18., 17., 19., 19., 17., 16.,
       19., 18., 19., 18., 18., 18., 19., 18., 17., 18., 15., 17., 16.,
       18., 18., 18., 18., 17., 18., 20., 19., 17., 19., 17., 17., 18.,
       18., 16., 18., 19., 16., 19., 19., 18., 18., 19., 17., 17., 18.,
       19., 19., 19., 20., 18., 17., 18., 19., 18., 17., 17., 18., 18.,
       19., 18., 20., 17., 19., 17., 20., 19., 15., 17., 18., 19., 20.,
       19., 18., 20., 18., 17., 18., 16., 19., 18., 19., 16., 17., 17.,
       19., 19., 18., 18., 18., 19., 17., 18., 17., 19., 18., 18., 18.,
       18., 19., 20., 17., 19., 18., 17., 17., 19., 19., 18., 17., 18.,
       16., 19., 19., 18., 17., 18., 18., 17., 18., 19., 18., 20., 18.,
       18., 18., 17., 18., 18., 18., 18., 18., 17., 19., 19., 18., 17.,
       17.])

In [8]:
# Creating an array of male and female for the 300
gender = np.random.choice(['male', 'female'], size=300)

In [9]:
gender

array(['male', 'female', 'male', 'male', 'female', 'male', 'female',
       'female', 'male', 'female', 'female', 'female', 'female', 'female',
       'male', 'female', 'male', 'male', 'male', 'female', 'male',
       'female', 'male', 'female', 'female', 'male', 'female', 'female',
       'female', 'female', 'male', 'male', 'male', 'male', 'female',
       'female', 'female', 'female', 'female', 'male', 'female', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
       'male', 'male', 'female', 'female', 'male', 'male', 'male',
       'female', 'female', 'female', 'male', 'male', 'female', 'female',
       'female', 'female', 'female', 'female', 'male', 'male', 'male',
       'male', 'female', 'male', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'male', 'female', 'female',
       'female', 'female', 'male', 'male', 'male', 'female', 'female',
       'female', 'male', 'male', 'female', 'male', 'female', 'female',
       'female', 'male', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'male', 'male', 'male', 'female', 'female',
       'female', 'female', 'male', 'male', 'male', 'male', 'male',
       'female', 'female', 'male', 'male', 'male', 'female', 'female',
       'female', 'female', 'female', 'female', 'male', 'male', 'male',
       'female', 'female', 'female', 'male', 'male', 'female', 'male',
       'male', 'male', 'female', 'male', 'female', 'female', 'female',
       'male', 'female', 'female', 'female', 'male', 'male', 'female',
       'female', 'male', 'female', 'male', 'male', 'female', 'female',
       'female', 'female', 'female', 'female', 'male', 'male', 'female',
       'female', 'female', 'male', 'female', 'female', 'female', 'female',
       'male', 'female', 'male', 'male', 'female', 'female', 'male',
       'female', 'male', 'male', 'male', 'female', 'female', 'female',
       'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'male', 'male',
       'female', 'female', 'female', 'male', 'female', 'male', 'male',
       'female', 'male', 'female', 'male', 'male', 'male', 'female',
       'male', 'male', 'male', 'male', 'female', 'female', 'male',
       'female', 'male', 'male', 'male', 'male', 'female', 'female',
       'male', 'female', 'female', 'female', 'female', 'male', 'female',
       'female', 'female', 'male', 'female', 'male', 'female', 'male',
       'male', 'female', 'male', 'male', 'female', 'male', 'female',
       'female', 'female', 'male', 'female', 'female', 'male', 'female',
       'male', 'male', 'female', 'male', 'male', 'female', 'female',
       'male', 'male', 'female', 'female', 'male', 'female', 'female',
       'female', 'female', 'male', 'male', 'female', 'female', 'male',
       'male', 'female', 'female', 'male', 'male', 'female', 'female',
       'female', 'female', 'male', 'male', 'female', 'female', 'male',
       'female', 'female', 'male', 'male'], dtype='<U6')

 Leaving certificate results are linked to Junior Certificate results . Each level at leaving Certificate  having a different possibiilty and different per gender.

In [10]:
# The average  homework time per week for students in Ireland was 6 hours with a variation of 2-3 hours
hw = np.random.normal(6, 2, 300).round(0)

In [12]:
hw
#  I will decide later if I use this as some numbers appea
# The average  homework time per week for students in Ireland was 6 hours with a variation of 2-3 hours
#red negative

array([ 7.,  3.,  5.,  1.,  6.,  6.,  9.,  4.,  6.,  4.,  7.,  7.,  6.,
        4.,  8.,  6.,  3.,  6.,  4.,  6., -1.,  5.,  6.,  6.,  6.,  9.,
        5.,  5.,  8.,  1.,  2.,  5.,  5.,  8.,  7.,  8.,  5.,  8.,  6.,
        5.,  7.,  6.,  7.,  6.,  5., 10.,  7.,  8.,  5.,  4., 10.,  6.,
        7.,  9.,  2.,  8.,  2.,  7.,  1.,  5.,  7.,  7.,  4.,  5.,  6.,
        6.,  8.,  6.,  6.,  9.,  6., 10.,  1.,  6.,  6.,  8.,  7.,  6.,
        7.,  6.,  3.,  3.,  8.,  4.,  5.,  9.,  7.,  6.,  5.,  7.,  6.,
        5.,  6.,  4.,  6.,  8.,  3., 10.,  8.,  7.,  6.,  5.,  7.,  8.,
        4.,  5.,  5.,  7.,  4.,  7.,  5.,  8.,  5.,  5.,  7.,  4.,  6.,
        5.,  7.,  4.,  2.,  8.,  7.,  7.,  9.,  7.,  8.,  6.,  8.,  5.,
        6.,  4.,  5.,  6.,  7.,  5.,  8.,  5.,  5.,  6.,  8.,  5.,  7.,
        6.,  6.,  8.,  6., 11.,  5.,  7.,  8.,  5.,  9.,  9.,  6.,  4.,
        7.,  6.,  4.,  2.,  7.,  5.,  6.,  7.,  6.,  3.,  1.,  7.,  9.,
        9.,  9.,  5.,  5.,  6.,  7.,  5.,  4.,  6.,  8.,  9.,  8.,  7.,
        5.,  6.,  3.,  6.,  6.,  3.,  7.,  3.,  7.,  5.,  6.,  7.,  7.,
        5.,  6.,  5.,  6.,  2.,  5.,  4.,  5.,  2.,  9.,  8.,  8.,  6.,
        3.,  3.,  7.,  4.,  6.,  7.,  8.,  8.,  5.,  5.,  7.,  5.,  6.,
        5.,  7.,  7.,  5.,  9.,  5.,  6.,  7.,  7.,  8.,  6.,  6.,  8.,
        4.,  9.,  4.,  5.,  7.,  8.,  0.,  5.,  9.,  5., 11.,  7.,  6.,
        4.,  5.,  9.,  4.,  7.,  5.,  3.,  5.,  6.,  4.,  6.,  6.,  6.,
        7.,  5.,  6.,  5.,  7.,  6.,  6.,  6.,  8.,  4.,  7.,  2.,  5.,
        1.,  4.,  7.,  6.,  5.,  5.,  7.,  6.,  6.,  4.,  5.,  6.,  5.,
        6.,  7.,  7.,  5.,  7.,  8.,  4.,  4.,  7.,  5.,  5.,  6.,  8.,
        6.])

# Real Data:

The data is from real data information held on the examinations website.I looked at the Junior Certificate result 2016 and Leaving Certificate results 2019.For our data I disregarded the students who achieve

Assumptions:

For our data I disregarded the students who achieved less than a D in higher in the Junior certificate for the purpose of this particular investigatio into a similar synthesised dataset. One would expect a solid Foundation at Junior Cycle to be able to proceed with the Higher level course to Leaving Certificate.

I have also assumed that they grauaded on to the higher level quite evenly .I am not at the moment assuming outliers such as D in Junior Certificate staying in to do Higher and passing.

In [13]:
# Real data taken from www.examinations.ie
 #    TOTAL FEMALE Higher Math Leaving cert ={332,844,150,2132,2074,1323,482,139}
  #   TOTAL MALE = Higher Math Leaving cert {766,1180,158,1963,1873,1274,496,183}
  #  jc     TOTAL FEMALE= {1743,5403,5654,3370,468,52,1}
   #     TOTAL MALE= {2112,4962,5179,3248,565,72,1}

# intialise data of lists. 
data1 = {'JC Grades 2016':["A", "B", "C", "D","E","F","NG","Total"],
        'TOTAL MALE Higher Maths Junior cert':[ 2112, 4962, 5179, 3248, 565, 72, 1,16139],
        'TOTAL FEMALE Higher Maths Junior cert':[ 1743, 5403, 5654, 3370, 468, 52, 1, 16691]} 
data2 = {'LC Grades 2019':['H1', 'H2', 'H3', 'H4','H5','H6','H7','H8','Total'],    
        'TOTAL MALE Higher Math Leaving cert':[766, 1180, 158, 1963, 1873, 1274, 496, 183,9323],
        'TOTAL FEMALE Higher Math Leaving cert':[ 332, 844, 150, 2132, 2074, 1323, 482, 139,8830]}
  

    
    # Create DataFrame
df1 = pd.DataFrame(data1) 
df2 = pd.DataFrame(data2)

def side_by_side(*objs, **kwds): # Adapted from https://stackoverflow.com/questions/35790922/how-to-render-two-pd-dataframes-in-jupyter-notebook-side-by-side
    ''' Une fonction print objects side by side '''
    from pandas.io.formats.printing import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print(adjoin(space, *reprs))

# Print the output.
side_by_side(df1,df2)

  JC Grades 2016  TOTAL MALE Higher Maths Junior cert  \      LC Grades 2019  TOTAL MALE Higher Math Leaving cert  \
0              A                                 2112       0             H1                                  766
1              B                                 4962       1             H2                                 1180
2              C                                 5179       2             H3                                  158
3              D                                 3248       3             H4                                 1963
4              E                                  565       4             H5                                 1873
5              F                                   72       5             H6                                 1274
6             NG                                    1       6             H7                                  496
7          Total                                16139       7             H8                                  183
                                                            8          Total                                 9323
   TOTAL FEMALE Higher Maths Junior cert
0                                   1743                       TOTAL FEMALE Higher Math Leaving cert
1                                   5403                    0                                    332
2                                   5654                    1                                    844
3                                   3370                    2                                    150
4                                    468                    3                                   2132
5                                     52                    4                                   2074
6                                      1                    5                                   1323
7                                  16691                    6                                    482
                                                            7                                    139
                                                            8                                   8830

WThen the remaining 1o63 candidates we can assume come from the 5654 candidates who achieved C in the Junior certificate,leaving 4591 candidates who achieved C at junior not attempting/not passing higher Level.
So for females:
I will asuume 100% probability of them doing Higher Leaving Certificate if a female achieves an A or B in Junior Certificate. However,only a 1063/5654 (18.8%) chance if they achieved a C.

So we can deduct from above , taking into account the authentic data above that roughly half those who do Higher level at Junior Certificate do Higher for Leaving certificate. We note that for Females doing the Junior Certificate, we will assume that those with the highest levels do it for the Leaving .Then of the 8,830 females at higher LC we will deduct those at H7 and H8, so those who pass at HL in Leaving certificate would be 8209.e can see from the Then those females candidates who got an Hi (332) in Higher Level would have come from 100% those who achieved an A(1743) at Higher level Junior Certificate. Next 844 candidates would include those who got A, and also H3.Even 417 out of the 2132 in the H4 bracket are still from an A in Jnior certificate.

Thus I need to say, A in Jc has an equal probability of getting a H1,H2 or H3 and 1/4 (417/2132) chance of getting a H4. 
That is, an A in Jc for a female , she will have a 31.7% chance of getting a H1,H2, or H3 at leaving or a 4.9% chance of a H4

For a B in Junior Certificate, with 5403  female students, this completes the 1717 left at H4, 1323 at H5, 482 at H6 and 291 would end with a H7 .

With female students with a C, 5464, we can see 191 of those witha H7 came from those with a C, and 139 of the H8 could have come under our assumptions from the Junior certificate C.Thus our probabilities will be  2.5% of someone getting a Cand gettign a H8,3.5% of a H7, and 94% of doing Ordinary Level in the Leaving.

For males students I will work in the same manner.The 9323 Leaving candidates less those who achieved a H7 or H8.9323-679=8644.These 8644 we can assume it is made of As(2112),Bs(4962)and 1570 of those who got Cs.That is 100% of those with an A or B in Higher and 1570/5179 (30.3%) of those whose got a C.

In [11]:
# leaving Certificate results dependent on jc.
# if female and C or D then O for Ordinary level
#  if female and A or B then A-D
# if male and D then Ordinary level
# if male and ABC then A-D


Ordinary = [
  lambda x: (x['gender'] == female) and (x['jcert'] == C or D) or
   (x['gender'] == male) and (x['jcert'] == D) 
]

def group_by_condition(l, Ordinary):
    return [[item for item in l if Ordinary(item)] for Ordinary in conditions]

# [] = group_by_Ordinary( Ordinary1)

In [ ]:
  df['Leaving certificate'] = df.apply('jcert') (lambda 
                            , axis = 1)

In [14]:
# Creating the dataframe with the simulated data \n
from pandas import DataFrame
df3 = pd.DataFrame({'Age 2019': Ages,'Gender': gender,'Junior Cert H Level Maths results': jcert} )
df3.head()

   Age 2019  Gender Junior Cert H Level Maths results
0      19.0    male                                 D
1      19.0  female                                 C
2      18.0    male                                 B
3      18.0    male                                 A
4      17.0  female                                 D

In [15]:


df3.loc[df3['Junior Cert H Level Maths results'] == 'A', 'Leaving cert H Level Maths'] = 'H1'

df3.loc[df3['Junior Cert H Level Maths results'] == 'B', 'Leaving cert H Level Maths'] = 'H2' 
df3.loc[df3['Junior Cert H Level Maths results'] == 'C', 'Leaving cert H Level Maths'] = 'H3'
df3.loc[df3['Junior Cert H Level Maths results'] == 'D', 'Leaving cert H Level Maths'] = 'Ord'
#  # adapted from https://datatofish.com/if-condition-in-pandas-dataframe/
# I had looked at transform and apply functions too .

#  I       am plcking a value under Leaving cert H Level Maths dependent on the value in Junior cert H Level Math results.

In [16]:
df3

,Age 2019,Gender,Junior Cert H Level Maths results,Leaving cert H Level Maths
0,19.0,male,D,Ord
1,19.0,female,C,H3
2,18.0,male,B,H2
3,18.0,male,A,H1
4,17.0,female,D,Ord
5,17.0,male,B,H2
6,17.0,female,C,H3
7,20.0,female,B,H2
8,17.0,male,C,H3
9,17.0,female,D,Ord
10,18.0,female,B,H2
11,19.0,female,A,H1
12,21.0,female,B,H2
13,16.0,female,C,H3
14,18.0,male,A,H1
15,17.0,female,C,H3
16,19.0,male,A,H1
17,18.0,male,C,H3
18,17.0,male,D,Ord
19,17.0,female,D,Ord
20,19.0,male,C,H3
21,19.0,female,D,Ord
22,19.0,male,D,Ord
23,18.0,female,C,H3
24,18.0,female,D,Ord
25,20.0,male,C,H3
26,19.0,female,B,H2
27,17.0,female,A,H1
28,19.0,female,A,H1
29,17.0,female,C,H3
...,...,...,...,...
270,18.0,female,A,H1
271,17.0,female,A,H1
272,18.0,male,A,H1
273,16.0,female,C,H3
274,19.0,female,B,H2
275,19.0,female,A,H1
276,18.0,female,B,H2
277,17.0,male,B,H2
278,18.0,male,D,Ord
279,18.0,female,C,H3
280,17.0,female,D,Ord
281,18.0,male,D,Ord
282,19.0,male,A,H1
283,18.0,female,C,H3
284,20.0,female,A,H1
285,18.0,male,C,H3
286,18.0,male,B,H2
287,18.0,female,C,H3
288,17.0,female,A,H1
289,18.0,female,A,H1
290,18.0,female,A,H1
291,18.0,male,D,Ord
292,18.0,male,D,Ord
293,18.0,female,C,H3
294,17.0,female,D,Ord
295,19.0,male,B,H2
296,19.0,female,B,H2
297,18.0,female,B,H2
298,17.0,male,A,H1
299,17.0,male,B,H2

In [45]:




#>>> aa_milne_arr = ['pooh', 'rabbit', 'piglet', 'Christopher']
#>>> np.random.choice(aa_milne_arr, 5, p=[0.5, 0.1, 0.1, 0.3])
#array(['pooh', 'pooh', 'pooh', 'Christopher', 'piglet'],

      
Leaving_cert_H_Level_Maths1 = ['H1','H2','H3','H4'] 
Leaving_cert_H_Level_Maths2 = ['H4','H5','H6','H7'] 
Leaving_cert_H_Level_Maths3 = ['H7','H8','Ord',] 


np.random.choice( Leaving_cert_H_Level_Maths1, 1, p=[0.32, 0.32, 0.32, 0.04])

#df4 = pd.DataFrame({'Age 2019': Ages,'Gender': gender,'Junior Cert H Level Maths results': jcert} )


#df4.loc[df4['Junior Cert H Level Maths results'] == 'A', 'Leaving cert H Level Maths'] = np.random.choice( Leaving_cert_H_Level_Maths1, 1, p=[0.32, 0.32, 0.32, 0.04])
#  adapting fromhttps://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.choice.html#numpy.random.choice
# Here I am making the value from leaving certificate maths come from choice, with the probabilities that I have calculated.
#df4.loc[df4['Junior Cert H Level Maths results'] == 'B', 'Leaving cert H Level Maths'] = np.random.choice( Leaving_cert_H_Level_Maths2, 1, p=[0.20, 0.325, 0.325, 0.15])
 
#df4.loc[df4['Junior Cert H Level Maths results'] == 'C', 'Leaving cert H Level Maths'] = np.random.choice( Leaving_cert_H_Level_Maths3, 1, p=[0.035, 0.025, 0.94])

#df4.loc[df4['Junior Cert H Level Maths results'] == 'D', 'Leaving cert H Level Maths'] = 'Ord'
#  # adapted from https://datatofish.com/if-condition-in-pandas-dataframe/
# I had looked at transform and apply functions too .

#  I       am plcing a value under Leaving cert H Level Maths dependent on the value in Junior cert H Level Math results.

array(['H3'], dtype='<U2')

In [44]:
print(df4)

Exception in callback BaseAsyncIOLoop._handle_events(992, 1)
handle: <Handle BaseAsyncIOLoop._handle_events(992, 1)>
Traceback (most recent call last):
  File "C:\Users\Celeste\Anaconda3\lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\Celeste\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 138, in _handle_events
    handler_func(fileobj, events)
  File "C:\Users\Celeste\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 456, in _handle_events
    self._handle_recv()
  File "C:\Users\Celeste\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 486, in _handle_recv
    self._run_callback(callback, msg)
  File "C:\Users\Celeste\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 438, in _run_callback
    callback(*args, **kwargs)
  File "C:\Users\Celeste\Anaconda3\lib\site-packages\ipykernel\iostream.py", line 120, in _handle_event
    event_f()
  File "C:\Users\Celeste\Anaconda3\lib\site-packages\ipykernel\iostream.py", line 380, in _flush
    parent=self.parent_header, ident=self.topic)
  File "C:\Users\Celeste\Anaconda3\lib\site-packages\jupyter_client\session.py", line 737, in send
    to_send = self.serialize(msg, ident)
  File "C:\Users\Celeste\Anaconda3\lib\site-packages\jupyter_client\session.py", line 625, in serialize
    content = self.pack(content)
  File "C:\Users\Celeste\Anaconda3\lib\site-packages\jupyter_client\session.py", line 103, in <lambda>
    ensure_ascii=False, allow_nan=False,
  File "C:\Users\Celeste\Anaconda3\lib\site-packages\zmq\utils\jsonapi.py", line 43, in dumps
    s = s.encode('utf8')
UnicodeEncodeError: 'utf-8' codec can't encode character '\udc4f' in position 3844: surrogates not allowed

In [ ]:
# OUTPUT OF FINALISED DATASET

# Summary:

Although my data was of exam results, it was categorical data (nonnumeric).i was therefore restricted to using numpy.random.choice at times.

# REFERENCES:

https://www.examinations.ie/statistics/

https://datatofish.com/if-condition-in-pandas-dataframe/