Project for module Programming in Data Analytics due date 16th December 2019

Created by Catherine A Celeste Quinlan

My assignment intruction  is to a  create a simulated data set based on a real life phenomenon using NUMPY.RANDOM , set it in a dataframe, and use this to show the different relationships.

I chose to look at the relationship between Higher Level Junior Certificate and Leaving Certificate and variables that may influence a student's performance in Higher Level Maths.

There is quite a lot of research on the resources and supports available to students, as well as some data held by ERSI, and www.examinations.ie

Also research has been done on the hours a students studies , as well as the variation of teaching hours students recieve.

In [16]:
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb
import pandas as pd


# I import the functions I think I will be using later

In [17]:
jcert = np.random.choice(['A', 'B','C', 'D'], size=300) #  Here Im assuming that we have an equal chance of a student getting any of the grades

In [18]:
jcert

array(['A', 'B', 'A', 'B', 'D', 'C', 'D', 'D', 'D', 'C', 'D', 'D', 'D',
       'C', 'D', 'D', 'C', 'D', 'A', 'A', 'B', 'D', 'A', 'D', 'D', 'A',
       'B', 'A', 'D', 'A', 'D', 'C', 'C', 'D', 'A', 'C', 'A', 'A', 'A',
       'D', 'D', 'B', 'C', 'D', 'B', 'C', 'C', 'A', 'B', 'B', 'D', 'C',
       'D', 'A', 'C', 'D', 'D', 'D', 'A', 'B', 'A', 'B', 'A', 'D', 'C',
       'D', 'D', 'B', 'A', 'C', 'C', 'D', 'B', 'C', 'C', 'D', 'B', 'B',
       'D', 'A', 'A', 'C', 'B', 'D', 'A', 'D', 'B', 'B', 'A', 'D', 'A',
       'B', 'B', 'B', 'A', 'C', 'B', 'B', 'C', 'D', 'A', 'B', 'D', 'D',
       'A', 'D', 'A', 'C', 'C', 'B', 'C', 'A', 'C', 'B', 'A', 'C', 'B',
       'D', 'D', 'D', 'B', 'B', 'A', 'D', 'D', 'A', 'D', 'D', 'A', 'D',
       'C', 'C', 'D', 'B', 'D', 'D', 'D', 'D', 'B', 'B', 'C', 'A', 'C',
       'A', 'B', 'C', 'D', 'C', 'C', 'C', 'A', 'B', 'A', 'D', 'C', 'C',
       'D', 'C', 'B', 'B', 'A', 'A', 'B', 'C', 'B', 'D', 'D', 'D', 'B',
       'D', 'D', 'A', 'C', 'B', 'A', 'D', 'C', 'D', 'A', 'B', 'A', 'D',
       'D', 'D', 'D', 'B', 'A', 'A', 'A', 'B', 'B', 'A', 'C', 'D', 'D',
       'D', 'C', 'B', 'D', 'D', 'A', 'A', 'B', 'B', 'C', 'A', 'B', 'B',
       'B', 'D', 'A', 'B', 'C', 'B', 'D', 'A', 'A', 'D', 'A', 'D', 'A',
       'A', 'B', 'A', 'B', 'B', 'C', 'C', 'B', 'A', 'C', 'C', 'B', 'B',
       'C', 'C', 'D', 'A', 'C', 'A', 'D', 'D', 'B', 'D', 'B', 'D', 'A',
       'C', 'C', 'B', 'D', 'D', 'C', 'A', 'B', 'A', 'A', 'B', 'C', 'B',
       'B', 'B', 'D', 'C', 'C', 'A', 'B', 'D', 'D', 'D', 'C', 'C', 'D',
       'C', 'A', 'D', 'C', 'D', 'A', 'A', 'B', 'B', 'C', 'D', 'D', 'D',
       'C', 'B', 'C', 'A', 'C', 'D', 'A', 'D', 'C', 'A', 'D', 'D', 'B',
       'C'], dtype='<U1')

In [19]:
Ages = np.random.normal(18, 1, 300).round(0)
 # The majority of these students at Leaving certificate are 18.We again pick a normal distribution with a mean of 18 and a standard deviation of 1. I chose a normal distribution here as the majority of students doing the leaving has a mean of 18.I am making the assumption of a stardard deviation of 1, as some students are either 1 year above or below.

In [20]:
Ages

array([17., 17., 18., 18., 17., 18., 19., 18., 17., 17., 18., 18., 19.,
       18., 18., 18., 19., 18., 19., 18., 19., 18., 19., 17., 19., 18.,
       20., 18., 18., 17., 19., 19., 19., 19., 18., 16., 18., 16., 19.,
       18., 18., 18., 18., 17., 19., 17., 17., 18., 18., 18., 19., 17.,
       19., 18., 18., 19., 16., 18., 17., 16., 18., 19., 17., 18., 18.,
       18., 17., 17., 17., 18., 17., 20., 18., 18., 18., 18., 20., 17.,
       19., 18., 16., 19., 17., 18., 20., 19., 18., 17., 17., 17., 19.,
       17., 17., 17., 17., 18., 18., 18., 18., 19., 16., 18., 19., 17.,
       17., 18., 17., 19., 20., 17., 17., 18., 19., 18., 18., 19., 20.,
       17., 18., 19., 18., 19., 19., 17., 18., 18., 18., 17., 16., 18.,
       17., 20., 18., 18., 17., 20., 19., 18., 18., 18., 18., 18., 18.,
       18., 17., 18., 20., 20., 17., 19., 19., 19., 18., 17., 19., 20.,
       19., 19., 17., 19., 19., 17., 16., 18., 17., 18., 19., 17., 17.,
       18., 16., 17., 20., 18., 17., 18., 16., 18., 17., 17., 19., 17.,
       19., 18., 16., 19., 19., 17., 18., 19., 18., 18., 17., 18., 18.,
       18., 21., 18., 17., 18., 17., 19., 19., 16., 17., 18., 19., 19.,
       18., 18., 17., 19., 17., 16., 17., 19., 19., 17., 18., 17., 19.,
       17., 18., 16., 19., 18., 19., 19., 19., 18., 17., 19., 18., 17.,
       19., 18., 19., 17., 19., 17., 18., 17., 18., 18., 18., 18., 18.,
       17., 19., 18., 18., 19., 18., 18., 19., 17., 18., 19., 19., 18.,
       19., 18., 18., 18., 17., 20., 18., 17., 19., 17., 18., 19., 18.,
       17., 21., 18., 17., 17., 17., 16., 17., 18., 18., 18., 18., 19.,
       18., 19., 20., 17., 19., 18., 17., 20., 17., 19., 20., 18., 18.,
       19.])

In [21]:
# Creating an array of male and female for the 300
gender = np.random.choice(['male', 'female'], size=300)

In [22]:
gender

array(['male', 'female', 'female', 'male', 'male', 'female', 'female',
       'female', 'male', 'female', 'female', 'male', 'male', 'male',
       'female', 'male', 'female', 'female', 'female', 'male', 'male',
       'female', 'male', 'male', 'female', 'male', 'female', 'female',
       'female', 'male', 'female', 'male', 'female', 'female', 'female',
       'female', 'male', 'male', 'male', 'female', 'female', 'female',
       'male', 'male', 'female', 'male', 'male', 'female', 'male', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'female', 'female', 'female', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'female', 'male',
       'male', 'female', 'female', 'male', 'female', 'female', 'female',
       'female', 'female', 'male', 'female', 'male', 'male', 'male',
       'female', 'male', 'male', 'female', 'male', 'male', 'female',
       'female', 'female', 'male', 'male', 'male', 'female', 'male',
       'female', 'female', 'female', 'male', 'female', 'female', 'female',
       'female', 'female', 'male', 'male', 'male', 'male', 'male', 'male',
       'female', 'female', 'female', 'male', 'female', 'male', 'female',
       'female', 'male', 'male', 'male', 'female', 'female', 'female',
       'male', 'female', 'male', 'male', 'female', 'female', 'female',
       'male', 'female', 'male', 'male', 'female', 'male', 'female',
       'female', 'male', 'male', 'male', 'male', 'female', 'female',
       'female', 'female', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'female', 'female', 'male',
       'male', 'male', 'female', 'female', 'female', 'male', 'female',
       'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male',
       'female', 'female', 'male', 'male', 'male', 'female', 'female',
       'male', 'male', 'male', 'female', 'female', 'male', 'female',
       'female', 'female', 'male', 'male', 'male', 'female', 'male',
       'male', 'male', 'female', 'male', 'female', 'female', 'male',
       'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'female', 'female', 'male', 'female', 'male',
       'male', 'female', 'female', 'male', 'male', 'female', 'male',
       'female', 'male', 'male', 'female', 'male', 'male', 'female',
       'female', 'female', 'male', 'female', 'female', 'male', 'male',
       'female', 'male', 'female', 'female', 'female', 'male', 'female',
       'male', 'male', 'male', 'male', 'female', 'female', 'female',
       'female', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'male', 'female', 'male', 'female', 'male',
       'female', 'female', 'male', 'female', 'female', 'female', 'female',
       'male', 'male', 'male', 'female', 'male', 'female', 'female',
       'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male',
       'female'], dtype='<U6')

 Leaving certificate results are linked to Junior Certificate results . Each level at leaving Certificate  having a different possibiilty and different per gender.

In [55]:
# The average  homework time per week for students in Ireland was 6 hours with a variation of 2-3 hours
hw = np.random.normal(7, 2, 300).round(0)

In [56]:
hw
#  I will decide later if I use this as some numbers appea
# The average  homework time per week for students in Ireland was 7 hours with a variation of 2-3 hours
# Reference was taken from: https://read.oecd-ilibrary.org/education/does-homework-perpetuate-inequities-in-education_5jxrhqhtx2xt-en#page4 as mentioned below
# where 7 hours was the homework time with a standard deviation of 2 hours.

array([ 8.,  7.,  7.,  6., 10.,  7.,  6.,  6.,  8.,  5.,  8.,  7.,  8.,
        4.,  5.,  7.,  8.,  7.,  6.,  4.,  7.,  2.,  9.,  5.,  2.,  7.,
        5., 10.,  8.,  6.,  7., 10.,  8.,  6.,  6.,  5.,  9.,  6.,  9.,
        5.,  6.,  6.,  6.,  6.,  7.,  5.,  7., 12.,  7., 10.,  9.,  7.,
        7.,  7.,  8.,  7.,  6.,  7.,  6.,  8.,  8.,  9.,  7.,  6.,  6.,
       10.,  7.,  9.,  6.,  6.,  3.,  5.,  5.,  7.,  7.,  4.,  7., 10.,
        7.,  8.,  7.,  5.,  6.,  9.,  2.,  8.,  9., 10., 10.,  5.,  7.,
        8.,  7.,  8.,  5.,  6.,  3.,  8.,  6.,  8.,  2.,  7.,  3., 11.,
        9., 10.,  7.,  7.,  6.,  7.,  5.,  8.,  5.,  8.,  7., 11.,  6.,
        7.,  5.,  8.,  4.,  6.,  5.,  7.,  9.,  4.,  8.,  6.,  6.,  3.,
        7.,  9.,  5.,  9.,  9.,  6.,  9.,  8.,  8.,  8.,  8.,  6.,  9.,
        5.,  7.,  9.,  9., 10.,  7., 11.,  5.,  7.,  3.,  9.,  8.,  5.,
        6.,  7.,  9., 11.,  8., 11., 10.,  9., 11.,  9., 11.,  8.,  3.,
        9.,  7.,  8.,  6.,  4.,  8.,  8.,  5.,  6.,  6.,  9.,  6.,  8.,
        7.,  7.,  8.,  9.,  7.,  3.,  8.,  8.,  6.,  9.,  5.,  9., 10.,
        9.,  4.,  6.,  7.,  8.,  5.,  5., 10.,  9.,  9.,  5.,  7.,  8.,
        7., 10.,  6.,  5.,  8.,  7.,  5.,  7.,  4.,  5.,  8., 10.,  8.,
        9.,  9.,  5.,  8.,  9.,  6., 11.,  7.,  7., 10.,  6.,  7.,  8.,
        6.,  6.,  5.,  7.,  4.,  7.,  8.,  7., 10.,  7., 10.,  7.,  8.,
        8., 10.,  8.,  7.,  5., 11.,  6.,  9.,  8., 11.,  9.,  9.,  9.,
        7.,  2.,  5.,  6.,  8.,  9.,  8.,  5., 10., 10.,  6.,  5.,  2.,
        7.,  7.,  7., 12.,  6.,  7.,  9.,  6.,  6.,  7.,  7.,  5.,  7.,
        9.,  9.,  6.,  7.,  8.,  7.,  6.,  9.,  4.,  8.,  7.,  7.,  9.,
        3.])

# Real Data:

The data below is from real data information held on the examinations website.I looked at the Junior Certificate result 2016 and Leaving Certificate results 2019.For our data I disregard the students who achieve less than D in Higher, assuming they will drop to Ordinary level.

Assumptions:

*  For our data I disregarded the students who achieved less than a D in higher in the Junior certificate for the purpose of this particular investigation into a similar synthesised dataset. One would expect a solid Foundation at Junior Cycle to be able to proceed with the Higher level course to Leaving Certificate.

* I have also assumed that they graduaded on to the higher level quite evenly.That is, the quota of H1,H2 etc being filled from those who had achieved  an 'A' etc..in Junior Cycle .I am not at the moment assuming outliers such as D in Junior Certificate staying in to do Higher.

In [25]:
# Real data taken from www.examinations.ie
 #    TOTAL FEMALE Higher Math Leaving cert ={332,844,150,2132,2074,1323,482,139}
  #   TOTAL MALE = Higher Math Leaving cert {766,1180,158,1963,1873,1274,496,183}
  #  jc     TOTAL FEMALE= {1743,5403,5654,3370,468,52,1}
   #     TOTAL MALE= {2112,4962,5179,3248,565,72,1}

# intialise data of lists. 
data1 = {'JC Grades 2016':["A", "B", "C", "D","E","F","NG","Total"],
        'TOTAL MALE Higher Maths Junior cert':[ 2112, 4962, 5179, 3248, 565, 72, 1,16139],
        'TOTAL FEMALE Higher Maths Junior cert':[ 1743, 5403, 5654, 3370, 468, 52, 1, 16691]} 
data2 = {'LC Grades 2019':['H1', 'H2', 'H3', 'H4','H5','H6','H7','H8','Total'],    
        'TOTAL MALE Higher Maths Leaving cert':[766, 1180, 158, 1963, 1873, 1274, 496, 183,9323],
        'TOTAL FEMALE Higher Maths Leaving cert':[ 332, 844, 150, 2132, 2074, 1323, 482, 139,8830]}
  

    
    # Create DataFrame
df1 = pd.DataFrame(data1) 
df2 = pd.DataFrame(data2)

def side_by_side(*objs, **kwds): # Adapted from https://stackoverflow.com/questions/35790922/how-to-render-two-pd-dataframes-in-jupyter-notebook-side-by-side
    ''' Une fonction print objects side by side '''
    from pandas.io.formats.printing import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print(adjoin(space, *reprs))

# Print the output.
side_by_side(df1,df2)

  JC Grades 2016  TOTAL MALE Higher Maths Junior cert  \      LC Grades 2019  TOTAL MALE Higher Math Leaving cert  \
0              A                                 2112       0             H1                                  766
1              B                                 4962       1             H2                                 1180
2              C                                 5179       2             H3                                  158
3              D                                 3248       3             H4                                 1963
4              E                                  565       4             H5                                 1873
5              F                                   72       5             H6                                 1274
6             NG                                    1       6             H7                                  496
7          Total                                16139       7             H8                                  183
                                                            8          Total                                 9323
   TOTAL FEMALE Higher Maths Junior cert
0                                   1743                       TOTAL FEMALE Higher Math Leaving cert
1                                   5403                    0                                    332
2                                   5654                    1                                    844
3                                   3370                    2                                    150
4                                    468                    3                                   2132
5                                     52                    4                                   2074
6                                      1                    5                                   1323
7                                  16691                    6                                    482
                                                            7                                    139
                                                            8                                   8830



    Relationships:

Age and. hours of study can be quite random, however their is a direct relationship between the Junior certificate results and the Leaving certificate grade. These are in my opinion where I have to create a dependency of values

So we can deduct from above , taking into account the authentic data above that roughly half those who do Higher level at Junior Certificate do Higher for Leaving certificate. We note that for Females doing the Junior Certificate, we will assume that those with the highest levels do it for the Leaving .Then of the 8,830 females at higher LC we will deduct those at H7 and H8, so those who pass at HL in Leaving certificate would be 8209. We can see from those females candidates who got an H1 (332) in Higher Level would have come from 100% those who achieved an A(1743) at Higher level Junior Certificate. Next 844 candidates would include those who got A, and also H3.Even 417 out of the 2132 in the H4 bracket are still from an A in Junior certificate.

Thus I need to say, A in Jc has an equal probability of getting a H1,H2 or H3 and 1/4 (417/2132) chance of getting a H4. 
That is, an A in Jc for a female , she will have a 31.7% chance of getting a H1,H2, or H3 at leaving or a 4.9% chance of a H4

For a B in Junior Certificate, with 5403  female students, this completes the 1717 left at H4, 1323 at H5, 482 at H6 and 291 would end with a H7 .

With female students with a C, 5464, we can see 191 of those witha H7 came from those with a C, and 139 of the H8 could have come under our assumptions from the Junior certificate C.Thus our probabilities will be  2.5% of someone getting a Cand gettign a H8,3.5% of a H7, and 94% of doing Ordinary Level in the Leaving.

For males students I will work in the same manner.The 9323 Leaving candidates less those who achieved a H7 or H8.9323-679=8644.These 8644 we can assume it is made of As(2112), Bs(4962)and 1570 of those who got Cs.That is 100% of those with an A or B in Higher and 1570/5179 (30.3%) of those whose got a C.

In [ ]:
# leaving Certificate results dependent on jc.
# if female and C or D then O for Ordinary level
#  if female and A or B then A-D
# if male and D then Ordinary level
# if male and ABC then A-D

In [27]:
# Creating the dataframe with the simulated data \n
from pandas import DataFrame
df3 = pd.DataFrame({'Age 2019': Ages,'Gender': gender,'Junior Cert H Level Maths results': jcert,'Hours spent on homework per week': hw} )
df3.head()

,Age 2019,Gender,Junior Cert H Level Maths results,Hours spent on homework per week
0,17.0,male,A,4.0
1,17.0,female,C,6.0
2,18.0,female,A,10.0
3,18.0,male,D,4.0
4,17.0,male,B,5.0

In [28]:


df3.loc[df3['Junior Cert H Level Maths results'] == 'A', 'Leaving cert H Level Maths'] = 'H1'

df3.loc[df3['Junior Cert H Level Maths results'] == 'B', 'Leaving cert H Level Maths'] = 'H2' 
df3.loc[df3['Junior Cert H Level Maths results'] == 'C', 'Leaving cert H Level Maths'] = 'H3'
df3.loc[df3['Junior Cert H Level Maths results'] == 'D', 'Leaving cert H Level Maths'] = 'Ord'
#  # adapted from https://datatofish.com/if-condition-in-pandas-dataframe/
# I had looked at transform and apply functions too .

#  I  am plcking a value under Leaving cert H Level Maths dependent on the value in Junior cert H Level Math results.

In [30]:
df3 # OUTPUT OF DATASET

,Age 2019,Gender,Junior Cert H Level Maths results,Hours spent on homework per week,Leaving cert H Level Maths
0,17.0,male,A,4.0,H1
1,17.0,female,C,6.0,H3
2,18.0,female,A,10.0,H1
3,18.0,male,D,4.0,Ord
4,17.0,male,B,5.0,H2
5,18.0,female,C,5.0,H3
6,19.0,female,A,6.0,H1
7,18.0,female,B,7.0,H2
8,17.0,male,A,9.0,H1
9,17.0,female,B,7.0,H2
10,18.0,female,C,9.0,H3
11,18.0,male,A,5.0,H1
12,19.0,male,A,6.0,H1
13,18.0,male,B,8.0,H2
14,18.0,female,C,9.0,H3
15,18.0,male,D,7.0,Ord
16,19.0,female,D,7.0,Ord
17,18.0,female,D,7.0,Ord
18,19.0,female,D,11.0,Ord
19,18.0,male,A,9.0,H1
20,19.0,male,B,3.0,H2
21,18.0,female,C,6.0,H3
22,19.0,male,C,3.0,H3
23,17.0,male,B,5.0,H2
24,19.0,female,A,11.0,H1
25,18.0,male,D,4.0,Ord
26,20.0,female,A,3.0,H1
27,18.0,female,B,7.0,H2
28,18.0,female,D,2.0,Ord
29,17.0,male,A,5.0,H1
...,...,...,...,...,...
270,18.0,female,D,5.0,Ord
271,19.0,male,D,9.0,Ord
272,18.0,male,D,8.0,Ord
273,17.0,female,A,6.0,H1
274,21.0,male,D,5.0,Ord
275,18.0,female,D,9.0,Ord
276,17.0,male,C,5.0,H3
277,17.0,female,A,2.0,H1
278,17.0,female,C,4.0,H3
279,16.0,male,A,8.0,H1
280,17.0,female,D,9.0,Ord
281,18.0,female,B,8.0,H2
282,18.0,female,C,7.0,H3
283,18.0,female,C,6.0,H3
284,18.0,male,D,7.0,Ord
285,19.0,male,D,5.0,Ord
286,18.0,male,D,3.0,Ord
287,19.0,female,B,6.0,H2
288,20.0,male,B,4.0,H2
289,17.0,female,D,8.0,Ord
290,19.0,female,B,5.0,H2
291,18.0,male,A,6.0,H1
292,17.0,male,C,8.0,H3
293,20.0,male,A,6.0,H1
294,17.0,male,A,7.0,H1
295,19.0,female,C,7.0,H3
296,20.0,male,A,8.0,H1
297,18.0,female,C,4.0,H3
298,18.0,male,B,8.0,H2
299,19.0,female,D,9.0,Ord

Here we can see the values for Leaving Certificate if they were a certain value following the Junior Certificate. However, they are dependent on different probabilities.

In [54]:

# Here I try and base the values achieved on their probabilities of occuring.
# Here I try to have the leaving certificate results dependent on the percentage chance 
# Not working as yet



      
Leaving_cert_H_Level_Maths1 = ['H1','H2','H3','H4'] 
Leaving_cert_H_Level_Maths2 = ['H4','H5','H6','H7'] 
Leaving_cert_H_Level_Maths3 = ['H7','H8','Ord'] 


  #  np.random.choice( Leaving_cert_H_Level_Maths1, 1, p=[0.32, 0.32, 0.32, 0.04])
df4 = pd.DataFrame({'Age 2019': Ages,'Gender': gender,'Junior Cert H Level Maths results': jcert,'Hours spent on homework per week': hw} )


df4.loc[df4['Junior Cert H Level Maths results'] == 'A', 'Leaving cert H Level Maths'] = np.random.choice( Leaving_cert_H_Level_Maths1, 1, p=[0.32, 0.32, 0.32, 0.04])
#  adapting from https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.choice.html#numpy.random.choice
# Here I am making the value from leaving certificate maths come from choice, with the probabilities that I have calculated.
df4.loc[df4['Junior Cert H Level Maths results'] == 'B', 'Leaving cert H Level Maths'] = np.random.choice( Leaving_cert_H_Level_Maths2, 1, p=[0.20, 0.325, 0.325, 0.15])
 
df4.loc[df4['Junior Cert H Level Maths results'] == 'C', 'Leaving cert H Level Maths'] = np.random.choice( Leaving_cert_H_Level_Maths3, 1, p=[0.035, 0.025, 0.94])

df4.loc[df4['Junior Cert H Level Maths results'] == 'D', 'Leaving cert H Level Maths'] = 'Ord'
#  # adapted from https://datatofish.com/if-condition-in-pandas-dataframe/
# I had looked at transform and apply functions too .

#   I am picking a value under Leaving cert H Level Maths dependent on the value in Junior cert H Level Math results.

In [ ]:
df4

# Summary:

Although my data was of exam results, it was categorical data (nonnumeric). I was therefore restricted to using numpy.random.choice at times.

I created a random set of values for the Junior Certificate results using choice, since it is the best way to find a random range of categorical data.

I then looked at ages, and created an array based on 18 being the mean age of a student and with Standard deviation of 1 year. This does give me some outlier of 16 and 20 but I agree that these can exist in real life.

Then I created an array for gender using numpy.choice where we had an equal chance of either. I then looked at homework.A study had been done saying students on avaerage spend 7 hours in Ireland doing homework, with a standard deviation of 2 hours .

I then tested and connected a value in junior certificate with a value in Leaving certificate. However, when I try to implement it, with a numpy. choice based on the percentage possibility devised by the students details from examination, it saves as df4 but does not print to screen.

# REFERENCES:

https://www.examinations.ie/statistics/ [Viewed 15/12/19]

https://datatofish.com/if-condition-in-pandas-dataframe [Viewed 12/12/19]

https://docs.scipy.org/doc/numpy-1.14.0/reference/routines.random.html [Viewed 15/12/19]

https://read.oecd-ilibrary.org/education/does-homework-perpetuate-inequities-in-education_5jxrhqhtx2xt-en#page2 [accessed 10/12/19]

Module videos : Programming for Data Analytics learnonline.gmit.ie

  Growing Up in Ireland: Education, Training and Employment, KEY FINDINGS: COHORT â€™98 AT 20 YEARS OLD IN 2018/19 [Accessed 10/12/19, attached ]

GROWING UP IN IRELAND: KEY FINDINGS: CHILD COHORT AT 17/18 YEARS NO. 1:EDUCATION AND EARLY WORK EXPERIENCES [Accessed 10/12/19, attached ]


Donnelly Katherine,September 14 2016,The Irish Times,Time spent on maths at schools varies by more than 100 hours  https://www.independent.ie/irish-news/education/time-spent-on-maths-at-schools-varies-by-more-than-100-hours-35047214.html ][Viewed 10/12/19]